In [61]:
import pandas as pd
import numpy as np
df = pd.read_csv('/home/seyma/Downloads/gunluk-arac-saym.csv', sep = ';')
df.head()

,Tarih,Sensor Adi,X Koordinati,Y Koordinati,Arac Sayisi,Unnamed: 5
0,1.01.2021,TEM Ar�c�lar,"28,98199436","41,10021035",37325.0,NaN
1,1.01.2021,TEM Mahmutbey Gi�eler,2.880.686.727.261.250,4.106.131.003.100.720,24861.0,NaN
2,1.01.2021,D100 G�lsuyu,"29,15252266","40,92487019",19380.0,NaN
3,1.01.2021,Kavac�k Hisar Evleri,"29,09468425","41,08282728",31554.0,NaN
4,1.01.2021,�mraniye Kav�a��,"29,1210945","41,02894267",24416.0,NaN

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97336 entries, 0 to 97335
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Tarih         96476 non-null  object
 1   Sensor Adi    96476 non-null  object
 2   X Koordinati  96023 non-null  object
 3   Y Koordinati  96023 non-null  object
 4   Arac Sayisi   96476 non-null  float64
 5   Unnamed: 5    0 non-null      float64
dtypes: float64(2), object(4)
memory usage: 4.5+ MB

In [63]:
df.isna().sum()

Tarih             860
Sensor Adi        860
X Koordinati     1313
Y Koordinati     1313
Arac Sayisi       860
Unnamed: 5      97336
dtype: int64

In [64]:
df_clean = df.copy()

In [65]:
df_clean.rename(columns={'Tarih': 'tarih', 'Sensor Adi': 'sensor_adi','X Koordinati': 'x_koordinati', 'Y Koordinati': 'y_koordinati' , 'Arac Sayisi' : 'arac_sayisi' }, inplace=True)

In [66]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97336 entries, 0 to 97335
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   tarih         96476 non-null  object
 1   sensor_adi    96476 non-null  object
 2   x_koordinati  96023 non-null  object
 3   y_koordinati  96023 non-null  object
 4   arac_sayisi   96476 non-null  float64
 5   Unnamed: 5    0 non-null      float64
dtypes: float64(2), object(4)
memory usage: 4.5+ MB

In [67]:
df_clean.drop('Unnamed: 5', axis=1, inplace=True)

In [68]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97336 entries, 0 to 97335
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   tarih         96476 non-null  object
 1   sensor_adi    96476 non-null  object
 2   x_koordinati  96023 non-null  object
 3   y_koordinati  96023 non-null  object
 4   arac_sayisi   96476 non-null  float64
dtypes: float64(1), object(4)
memory usage: 3.7+ MB

In [69]:
df_clean = df_clean[df_clean.tarih.notnull()]
df_clean = df_clean[df_clean.sensor_adi.notnull()]
df_clean = df_clean[df_clean.x_koordinati.notnull()]
df_clean = df_clean[df_clean.y_koordinati.notnull()]
df_clean = df_clean[df_clean.arac_sayisi.notnull()]
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 96023 entries, 0 to 96475
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   tarih         96023 non-null  object
 1   sensor_adi    96023 non-null  object
 2   x_koordinati  96023 non-null  object
 3   y_koordinati  96023 non-null  object
 4   arac_sayisi   96023 non-null  float64
dtypes: float64(1), object(4)
memory usage: 4.4+ MB

In [70]:
df_clean['tarih']= pd.to_datetime(df_clean['tarih'])
#df_clean.x_koordinati = df_clean.x_koordinati.astype(float)
#df_clean.y_koordinati = df_clean.y_koordinati.astype(float)
df_clean.sensor_adi = df_clean.sensor_adi.astype(str)
df_clean.arac_sayisi = df_clean.arac_sayisi.astype(int)
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 96023 entries, 0 to 96475
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   tarih         96023 non-null  datetime64[ns]
 1   sensor_adi    96023 non-null  object
 2   x_koordinati  96023 non-null  object
 3   y_koordinati  96023 non-null  object
 4   arac_sayisi   96023 non-null  int64
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 4.4+ MB

In [71]:
df_clean.tail()

,tarih,sensor_adi,x_koordinati,y_koordinati,arac_sayisi
96470,2021-11-30,YSS Avrupa,"29,0922","41,2123",10880
96471,2021-11-30,Anadolu Feneri �st Ge�it,"29,1776","41,1964",22273
96472,2021-11-30,G�kt�rk G�let,"28,867974","41,195935",25120
96473,2021-11-30,�sta� Kat� At�k Tesisi,"28,856191","41,203025",35996
96475,2021-11-30,Hali� S�tl�ce D-100 Kat�l�m,1,1,13129

In [72]:
df_clean['x_koordinati'] = df_clean['x_koordinati'].str.replace(',','.')
df_clean.head()

,tarih,sensor_adi,x_koordinati,y_koordinati,arac_sayisi
0,2021-01-01,TEM Ar�c�lar,28.98199436,"41,10021035",37325
1,2021-01-01,TEM Mahmutbey Gi�eler,2.880.686.727.261.250,4.106.131.003.100.720,24861
2,2021-01-01,D100 G�lsuyu,29.15252266,"40,92487019",19380
3,2021-01-01,Kavac�k Hisar Evleri,29.09468425,"41,08282728",31554
4,2021-01-01,�mraniye Kav�a��,29.1210945,"41,02894267",24416

In [73]:
df_clean = df_clean.drop(labels=1, axis=0)

In [74]:
df_clean.head(20)

,tarih,sensor_adi,x_koordinati,y_koordinati,arac_sayisi
0,2021-01-01,TEM Ar�c�lar,28.98199436,"41,10021035",37325
2,2021-01-01,D100 G�lsuyu,29.15252266,"40,92487019",19380
3,2021-01-01,Kavac�k Hisar Evleri,29.09468425,"41,08282728",31554
4,2021-01-01,�mraniye Kav�a��,29.1210945,"41,02894267",24416
5,2021-01-01,TEM Kartal,29.18593168,"40,98985176",24292
6,2021-01-01,K���kyal� Sahil Yolu,29.10135356,"40,94774144",3788
7,2021-01-01,TEM Firuzk�y,28.72006511,"41,05470225",10284
8,2021-01-01,Haramidere,28.66928024,"41,00635849",22904
9,2021-01-01,D100 Sefak�y,28.80790888,"41,00070053",30149
10,2021-01-01,Unkapan�,28.9681843,"41,0254923",9740
11,2021-01-01,TEM-D100 Had�mk�y Ba�lant�,28.62257735,"41,07449465",8169
12,2021-01-01,Piyalepa�a,28.96812152,"41,04958203",18227
13,2021-01-01,Vatan Cad.,28.93085576,"41,02320185",25446
15,2021-01-01,Akom �n�,28.961073,"41,090599",21423
16,2021-01-01,Y�ld�z,29.00888374,"41,05349653",10241
17,2021-01-01,Maslak Atat�rk Oto Sanayi,29.0247493,"41,11562629",14259
18,2021-01-01,B. Ekspres Yolu,28.81246155,"41,01324549",14504
19,2021-01-01,At��alan�,28.87310459,"41,04994359",46049
20,2021-01-01,D100 Altunizade,29.0489674,"41,02143667",11772
21,2021-01-01,D100 G�ztepe,29.07491648,"40,9920504",23215

In [77]:
df_clean = df_clean.reset_index()

In [78]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96022 entries, 0 to 96021
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   index         96022 non-null  int64
 1   tarih         96022 non-null  datetime64[ns]
 2   sensor_adi    96022 non-null  object
 3   x_koordinati  96022 non-null  object
 4   y_koordinati  96022 non-null  object
 5   arac_sayisi   96022 non-null  int64
dtypes: datetime64[ns](1), int64(2), object(3)
memory usage: 4.4+ MB

In [79]:
df_clean.head(20)

,index,tarih,sensor_adi,x_koordinati,y_koordinati,arac_sayisi
0,0,2021-01-01,TEM Ar�c�lar,28.98199436,"41,10021035",37325
1,2,2021-01-01,D100 G�lsuyu,29.15252266,"40,92487019",19380
2,3,2021-01-01,Kavac�k Hisar Evleri,29.09468425,"41,08282728",31554
3,4,2021-01-01,�mraniye Kav�a��,29.1210945,"41,02894267",24416
4,5,2021-01-01,TEM Kartal,29.18593168,"40,98985176",24292
5,6,2021-01-01,K���kyal� Sahil Yolu,29.10135356,"40,94774144",3788
6,7,2021-01-01,TEM Firuzk�y,28.72006511,"41,05470225",10284
7,8,2021-01-01,Haramidere,28.66928024,"41,00635849",22904
8,9,2021-01-01,D100 Sefak�y,28.80790888,"41,00070053",30149
9,10,2021-01-01,Unkapan�,28.9681843,"41,0254923",9740
10,11,2021-01-01,TEM-D100 Had�mk�y Ba�lant�,28.62257735,"41,07449465",8169
11,12,2021-01-01,Piyalepa�a,28.96812152,"41,04958203",18227
12,13,2021-01-01,Vatan Cad.,28.93085576,"41,02320185",25446
13,15,2021-01-01,Akom �n�,28.961073,"41,090599",21423
14,16,2021-01-01,Y�ld�z,29.00888374,"41,05349653",10241
15,17,2021-01-01,Maslak Atat�rk Oto Sanayi,29.0247493,"41,11562629",14259
16,18,2021-01-01,B. Ekspres Yolu,28.81246155,"41,01324549",14504
17,19,2021-01-01,At��alan�,28.87310459,"41,04994359",46049
18,20,2021-01-01,D100 Altunizade,29.0489674,"41,02143667",11772
19,21,2021-01-01,D100 G�ztepe,29.07491648,"40,9920504",23215

In [80]:
df_wrong = pd.Series(df_clean.x_koordinati.map(lambda calc: calc.count('.')) > 1)
#df_clean.x_koordinati.count('.')
df_wrong

0        False
1        False
2        False
3        False
4        False
         ...
96017    False
96018    False
96019    False
96020    False
96021    False
Name: x_koordinati, Length: 96022, dtype: bool

In [81]:
df_wrong_list = (df_wrong[df_wrong].index)
df_wrong_list

Int64Index([   50,    97,   378,   382,   534,   738,   827,   830,   875,
              955,
            ...
            94800, 94906, 94996, 95038, 95208, 95223, 95454, 95670, 95808,
            95892],
           dtype='int64', length=956)

In [82]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96022 entries, 0 to 96021
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   index         96022 non-null  int64
 1   tarih         96022 non-null  datetime64[ns]
 2   sensor_adi    96022 non-null  object
 3   x_koordinati  96022 non-null  object
 4   y_koordinati  96022 non-null  object
 5   arac_sayisi   96022 non-null  int64
dtypes: datetime64[ns](1), int64(2), object(3)
memory usage: 4.4+ MB

In [83]:
df_clean = df_clean.drop(df_clean.index[df_wrong_list])

In [84]:
df_clean.x_koordinati = df_clean.x_koordinati.astype(float)
df_clean.head(20)

,index,tarih,sensor_adi,x_koordinati,y_koordinati,arac_sayisi
0,0,2021-01-01,TEM Ar�c�lar,28.981994,"41,10021035",37325
1,2,2021-01-01,D100 G�lsuyu,29.152523,"40,92487019",19380
2,3,2021-01-01,Kavac�k Hisar Evleri,29.094684,"41,08282728",31554
3,4,2021-01-01,�mraniye Kav�a��,29.121095,"41,02894267",24416
4,5,2021-01-01,TEM Kartal,29.185932,"40,98985176",24292
5,6,2021-01-01,K���kyal� Sahil Yolu,29.101354,"40,94774144",3788
6,7,2021-01-01,TEM Firuzk�y,28.720065,"41,05470225",10284
7,8,2021-01-01,Haramidere,28.669280,"41,00635849",22904
8,9,2021-01-01,D100 Sefak�y,28.807909,"41,00070053",30149
9,10,2021-01-01,Unkapan�,28.968184,"41,0254923",9740
10,11,2021-01-01,TEM-D100 Had�mk�y Ba�lant�,28.622577,"41,07449465",8169
11,12,2021-01-01,Piyalepa�a,28.968122,"41,04958203",18227
12,13,2021-01-01,Vatan Cad.,28.930856,"41,02320185",25446
13,15,2021-01-01,Akom �n�,28.961073,"41,090599",21423
14,16,2021-01-01,Y�ld�z,29.008884,"41,05349653",10241
15,17,2021-01-01,Maslak Atat�rk Oto Sanayi,29.024749,"41,11562629",14259
16,18,2021-01-01,B. Ekspres Yolu,28.812462,"41,01324549",14504
17,19,2021-01-01,At��alan�,28.873105,"41,04994359",46049
18,20,2021-01-01,D100 Altunizade,29.048967,"41,02143667",11772
19,21,2021-01-01,D100 G�ztepe,29.074916,"40,9920504",23215

In [89]:
df_clean['y_koordinati'] = df_clean['y_koordinati'].str.replace(',','.')
df_wrong_y = pd.Series(df_clean.y_koordinati.map(lambda calc: calc.count('.')) > 1)
df_wrong_list_y = (df_wrong_y[df_wrong_y].index)
df_clean = df_clean.drop(df_clean.index[df_wrong_list_y])
df_clean.y_koordinati = df_clean.y_koordinati.astype(float)
df_clean.head(20)

,level_0,index,tarih,sensor_adi,x_koordinati,y_koordinati,arac_sayisi
0,0,0,2021-01-01,TEM Ar�c�lar,28.981994,41.100210,37325
1,1,2,2021-01-01,D100 G�lsuyu,29.152523,40.924870,19380
2,2,3,2021-01-01,Kavac�k Hisar Evleri,29.094684,41.082827,31554
3,3,4,2021-01-01,�mraniye Kav�a��,29.121095,41.028943,24416
4,4,5,2021-01-01,TEM Kartal,29.185932,40.989852,24292
5,5,6,2021-01-01,K���kyal� Sahil Yolu,29.101354,40.947741,3788
6,6,7,2021-01-01,TEM Firuzk�y,28.720065,41.054702,10284
7,7,8,2021-01-01,Haramidere,28.669280,41.006358,22904
8,8,9,2021-01-01,D100 Sefak�y,28.807909,41.000701,30149
9,9,10,2021-01-01,Unkapan�,28.968184,41.025492,9740
10,10,11,2021-01-01,TEM-D100 Had�mk�y Ba�lant�,28.622577,41.074495,8169
11,11,12,2021-01-01,Piyalepa�a,28.968122,41.049582,18227
12,12,13,2021-01-01,Vatan Cad.,28.930856,41.023202,25446
13,13,15,2021-01-01,Akom �n�,28.961073,41.090599,21423
14,14,16,2021-01-01,Y�ld�z,29.008884,41.053497,10241
15,15,17,2021-01-01,Maslak Atat�rk Oto Sanayi,29.024749,41.115626,14259
16,16,18,2021-01-01,B. Ekspres Yolu,28.812462,41.013245,14504
17,17,19,2021-01-01,At��alan�,28.873105,41.049944,46049
18,18,20,2021-01-01,D100 Altunizade,29.048967,41.021437,11772
19,19,21,2021-01-01,D100 G�ztepe,29.074916,40.992050,23215

In [96]:
#df_clean.columns = df_clean.columns.droplevel()
df_clean = df_clean.drop(labels=["index", "level_0"], axis=1)

In [97]:
df_clean.head()

       tarih            sensor_adi  x_koordinati  y_koordinati  arac_sayisi
0 2021-01-01          TEM Ar�c�lar     28.981994     41.100210        37325
1 2021-01-01         D100 G�lsuyu      29.152523     40.924870        19380
2 2021-01-01  Kavac�k Hisar Evleri     29.094684     41.082827        31554
3 2021-01-01      �mraniye Kav�a��     29.121095     41.028943        24416
4 2021-01-01            TEM Kartal     29.185932     40.989852        24292

In [98]:
df_clean.to_csv('cleaned.csv', index = False)

In [ ]:
# sensor adina gore gruplayabiliriz bir de tarihe gore gruplayabiliriz

In [ ]:
# https://data.ibb.gov.tr/dataset/2020-yili-lokasyon-bazinda-cevresel-izleme-ve-kontrol-verileri/resource/54bcaea5-e215-44f2-9319-0d6ae5913661
# https://halfiyatlaripublicdata.ibb.gov.tr/swagger/ui/index#!/HalManager/HalManager_getProductTypes
# https://data.ibb.gov.tr/dataset/trafik-indeks-degeri-web-servisi
# https://data.ibb.gov.tr/dataset/traffic-density-map
# su anki : https://data.ibb.gov.tr/dataset/gunluk-arac-sayimi
# onemli olabilir: https://data.ibb.gov.tr/dataset/hourly-traffic-density-data-set
# https://data.ibb.gov.tr/dataset/istanbul-trafik-indeksi
# https://data.ibb.gov.tr/dataset/hava-kalitesi-istasyon-bilgileri-web-servisi
# https://data.ibb.gov.tr/dataset/hava-kalitesi-istasyon-olcum-sonuclari-web-servisi
# api calismak: https://www.askpython.com/python/examples/pull-data-from-an-api